.header{
	grid-area: h;
  background-color: rgb(235, 238, 240);

  }

.logo{
  width: 60px;
}
.logo img{
  width: 100%;
}

.loginBlock a{
    float: right;
}

.loginBlock a {
    display: block;
    margin: auto;
    padding: 1rem 1.25rem;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    position: relative;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    z-index: 1;
}
.loginBlock a:after{
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #724e00;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }
.loginBlock a:hover {
	color: #2D2D2D;
}
.loginBlock a:hover:after {
    right: 0;
    left: 0;
    height: 100%;
  }
