.nav {
	grid-area: n;
	padding: 10px;
	border-left-width: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 1.00);
	border-color: rgb(235, 238, 240);
	border-style: solid;
	border-right-width: 1px;
}

.item {
	font-size: 19px;
}

.item a {
	color: #000000;
	position: relative;
	font-weight: 600;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}

.item a:before {
	content: '';
	background: rgb(46, 166, 236);
	position: absolute;
	width: 0;
	height: 2px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}
.item a:after{
	content: '';
	background: rgb(46, 166, 236);
	position: absolute;
	width: 0;
	height: 2px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	transition: all .3s linear;
}

.item a:before {
	top: 0;
	left: 0;
}

.item a:after {
	top: 100%;
	right: 0;
}

.item a:hover:before, a:hover:after {
	width: 100%;
}

.item a:hover {
	text-decoration: none;
	background-color: rgb(235, 238, 240);
}

.item a.activeLink {
	color: rgb(133, 144, 151);
}