body {
  background-color: rgb(255, 255, 255);
}
.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas:

  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
}
.themeBtn{
  width: 200px;
  padding-top: 12px;
}
.themeBtn button{
  background-color: rgba(0, 0, 92, 0.555); /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */

  box-shadow:
      0 3px 5px rgba(0,0,0,0.25),
      inset 0 1px 0 rgba(255,255,255,0.3),
      inset 0 -5px 5px rgba(100,100,100,0.1),
      inset 0 5px 5px rgba(255,255,255,0.3);
}
.themeBtn button:hover {
  background-color: rgb(19, 19, 54);
}

  
.header img {
  width: 85px;
  
  left: 50px;
  top:5px;
  }
h1 {
  position: relative;
  right: 310px;
  bottom: 15px;
  text-align: center;
  font-family: URW Chancery L, cursive;
}
.app-wrapper-content {
  grid-area: c;
  /* background-color: rgb(224, 224, 224); */
  border-left-width: 1px;
  width: 100%;
  background-color: rgba(255,255,255,1.00);
  border-color: rgb(235, 238, 240);
  border-style: solid;
  border-right-width: 1px;
  margin-right: 0px;
  margin-left: 0px;
  z-index: 1;
}